<div class="vd-slide-in">
    <button class="vd-slide-in__dismiss">&times;</button>
    <div ng-if="true" class="vd-slide-in__content">
        <h3 class="vd-slide-in__content__title">RECEBA DICAS DE DECORAÇÃO</h3>
        <p class="vd-slide-in__content__description">Ideias, dicas e tudo que precisa saber para decorar sua casa</p>
        <input type="text" class="vd-slide-in__content__input" placeholder="Digite seu e-mail">
        <input type="submit" class="vd-slide-in__content__button" value="ME ENVIE IDEIAS >">
    </div>
    <div ng-if="false" class="vd-slide-in__content">
        <p class="vd-slide-in__content__description">Obrigada!</p>
    </div>
</div>