.vd-slide-in
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  position: fixed
  z-index: 160
  bottom: 0
  left: 0
  right: 0
  max-height: 500px
  transition: all .3s ease-out
  overflow-y: hidden
  +modifier("closed")
    max-height: 0

  +element("container")
    display: flex
    border: 5px solid $color__dark-gray-dark
    background-color: $color__dark-gray-primary
    color: $color__light-gray-light
    line-height: normal
    padding: 10px

  +element("dismiss")
    position: absolute
    top: 0
    right: 0
    +font-size(24)
    font-weight: bold
    color: $color__light-gray-light
    text-shadow: 0 2px $color__dark-gray-dark
    padding: 0
    margin-right: 8px
    background-color: transparent
    border: none
    &:focus
      outline: none

  +element("content")
    display: flex
    flex-direction: column
    text-align: center
    width: 100%
    +element("title")
      +font-size(20)
      font-weight: bold
      margin-bottom: 10px
    +element("description")
      margin-bottom: 15px
    +element("form")
      display: flex
      flex-direction: column
      +element("input")
        +font-size(16)
        margin-bottom: 10px
        outline: 0
        border: 0
        border-radius: 5px
        min-height: 25px
        padding: 10px
      +element("button")
        +font-size(16)
        background-color: $color__red-primary
        border-color: $color__red-primary
        color: $color__light-gray-light
        border-radius: 5px
        min-height: 25px
        padding: 15px
        &:hover
          background-color: $color__red-dark
          border-color: $color__red-dark

@media screen and (min-width: $screen-tablet-min)
  .vd-slide-in
    left: auto
    right: 0
    width: 300px